source https://nuget.org/api/v2
nuget Suave >= 2.0.0
nuget Suave.Experimental >= 2.0.0
nuget SQLProvider
nuget Newtonsoft.Json
nuget FsUnit
nuget FSharpx.Async
nuget FSharpx.Collections
nuget FSharpx.Extras
nuget FAKE
