USE [master]
GO

/****** Object:  Database [AssetManager]    Script Date: 20/12/2016 10:05:22 PM ******/
DROP DATABASE [AssetManager]
GO

/****** Object:  Database [AssetManager]    Script Date: 20/12/2016 10:03:32 PM ******/
CREATE DATABASE [AssetManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssetManager', FILENAME = N'D:\Db\AssetManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssetManager_log', FILENAME = N'D:\Db\AssetManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssetManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssetManager]
GO
USE [AssetManager]
GO
/****** Object:  Table [dbo].[Asset]    Script Date: 20/12/2016 10:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset](
	[AssetId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Comissioned] [date] NULL,
	[Cost] [decimal](18, 0) NULL,
	[TemplateId] [uniqueidentifier] NULL,
	[ParentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Asset] PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FieldDefinition]    Script Date: 20/12/2016 10:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldDefinition](
	[FieldDefinitionId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TemplateId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FieldDefinition] PRIMARY KEY CLUSTERED 
(
	[FieldDefinitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FieldValue]    Script Date: 20/12/2016 10:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldValue](
	[FieldValueId] [uniqueidentifier] NOT NULL,
	[FieldDefinitionId] [uniqueidentifier] NOT NULL,
	[AssetId] [uniqueidentifier] NULL,
	[ValueType] [tinyint] NOT NULL,
	[StringValue] [nvarchar](max) NULL,
	[DateValue] [datetime] NULL,
	[NumericValue] [real] NULL,
 CONSTRAINT [PK_FieldValue] PRIMARY KEY CLUSTERED 
(
	[FieldValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Template]    Script Date: 20/12/2016 10:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[TemplateId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[MaintenanceProgramId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [FK_Asset_Template] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[Template] ([TemplateId])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [FK_Asset_Template]
GO
ALTER TABLE [dbo].[FieldDefinition]  WITH CHECK ADD  CONSTRAINT [FK_FieldDefinition_Template] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[Template] ([TemplateId])
GO
ALTER TABLE [dbo].[FieldDefinition] CHECK CONSTRAINT [FK_FieldDefinition_Template]
GO
ALTER TABLE [dbo].[FieldValue]  WITH CHECK ADD  CONSTRAINT [FK_FieldValue_Asset] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Asset] ([AssetId])
GO
ALTER TABLE [dbo].[FieldValue] CHECK CONSTRAINT [FK_FieldValue_Asset]
GO
ALTER TABLE [dbo].[FieldValue]  WITH CHECK ADD  CONSTRAINT [FK_FieldValue_FieldDefinition] FOREIGN KEY([FieldDefinitionId])
REFERENCES [dbo].[FieldDefinition] ([FieldDefinitionId])
GO
ALTER TABLE [dbo].[FieldValue] CHECK CONSTRAINT [FK_FieldValue_FieldDefinition]
GO
USE [master]
GO
